extends layout

block content
  .container-fluid
    h1.text-centered.about-header More About Confident Bagel
    .row
      .col-md-10.col-md-offset-1
        .panel.panel-default
          .panel-heading
            h3.panel-title About Us
          .panel-body
            | Confident Bagel provides visual applications of customizable Seniment Analysis data via specific hashtag search queries.
    .row
      .col-md-10.col-md-offset-1
        .panel.panel-default
          .panel-heading
            h3.panel-title Who We Serve
          .panel-body
            | Confident Bagel serves companies and individuals alike to provide customizable sentiment analysis to make informed decisions on an infinite number of topics.
            p If you can hashtag it, we can analyze it.
    .row
      .col-md-10.col-md-offset-1
        .panel.panel-default
          .panel-heading
            h3.panel-title How We Work
          .panel-body
            | By intergrating with Twitter's text mining API, users are able to query specific hashtags to gain real feedback on topics ranging from sports, to restaurants, even music festivals.
            p Confident Bagel takes these Twitter posts containing the specific hashtags, analyzes the words that make up the post against a sentiment analysis dictionary, and returns a Sentiment Analysis score for each post.  CB then takes these scores and formats them into multiple, easy-to-digest, visuals that suit your individual or company's needs.
