extends layout

block content
  h1 About Confident Bagel: What we do | How we do it
  .container-fluid
    .row
      .col-md-12.col
        p.text-wireframe ABOUT US: This is where information about what our sentiment Analysis application does, who it is for, and how to use it will go.
    .row
      .col-md-12.col
        p.text-wireframe WHO DO WE CATER TO: This is where information about the individuals and companies that we are serving will go.
    .row
      .col-md-12.col
        p.text-wireframe HOW DO WE DO WHAT WE DO: This is where we will put a blurb about how our services work... by integrating a text mining API that searches Twitter for specific hastags, we pull top and recent Twitter posts, give them a Sentiment Analysis score from a sentiment alaysis tool made by one of our own Developers.  We then take these scores and format them into easy-to-digest visuals that suit your company's needs.
