extends layout

block content
  .container-fluid
    h1.text-centered.about-header More About Confident Bagel
    .row
      .col-md-10.col-md-offset-1
        .panel.panel-default
          .panel-heading
            h3.panel-title About Us
          .panel-body
            | This is where information about what our sentiment Analysis application does, who it is for, and how to use it will go.
    .row
      .col-md-10.col-md-offset-1
        .panel.panel-default
          .panel-heading
            h3.panel-title Who We Serve
          .panel-body
            | This is where information about the individuals and companies that we are serving will go.
    .row
      .col-md-10.col-md-offset-1
        .panel.panel-default
          .panel-heading
            h3.panel-title How We Work
          .panel-body
            | This is where we will put a blurb about how our services work... by integrating a text mining API that searches Twitter for specific hastags, we pull top and recent Twitter posts, give them a Sentiment Analysis score from a sentiment alaysis tool made by one of our own Developers.  We then take these scores and format them into easy-to-digest visuals that suit your company's needs.
