extends layout

block content
  div
    h1 Test
    form(action='/' method='POST')
      input(type='text' name='test' required)
      br
      button(type='submit') Submit
  div
    ul
      if scores
        each val in scores
          li= val.score
          li= val.text
  div
    if user
      p logged in
