extends layout

block content
  h1 Home Page
  .container-fuild
    .row
      .col-md-8.col-sm-8.col-xs-12
        div.text-wireframe
          h4 About us:
          p pull text from 'About us' on about page: goes here
          br
        br  
        div.text-wireframe
          h4 Sample Sentiment Analysis:
          p sentiment analysis img: goes here
          br
      .col-md-4.col-sm-4.col-xs-12
        div.text-wireframe.text-centered
          h4 LOG IN or Start a project:
          br
          br
          p.text-wireframe LOG IN page link: goes here
          br
          br
          p.text-wireframe Start a project! link: goes here
          br
          br
