extends layout

block content
  .container-fluid
    h1 Home Page
    .row.search
      .col-md-6.col-md-offset-3
        form.input-group(action='/searches' method='POST')
          input.form-control(type='text', placeholder='Search for...' name='keyword')
          span.input-group-btn
            button.btn.btn-default(type='submit') Go!
