doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home
    br
    a(href='/about') About
    br
    a(href='/searches/new') New Search
    br
    a(href='/boards') Boards
    br
    a(href='/users') Users
    br
    a(href='/login') Sign in
    br
    block content
