doctype html
html
  head
    title Confident Bagel
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css', integrity='sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    script(src='/javascript/navbar.js')
    link(rel='stylesheet', href='/stylesheets/button.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.nav.navbar.navbar-default.navbar-fixed-top
      div.container-fluid
        div.navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand(href='/') Confident Bagel
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            block navsections
            li
              a(href='/') Home
            li
              a(href='/about') About
            li
              a(href='/searches/new') New Search
            li
              a(href='/boards') Boards
            li
              a(href='/users') Users
            if user
              li
                a(href='/auth/logout') Sign out
            else
              li
                a(href='/login') Sign up/in
    block content

    nav.navbar-fixed-bottom.footer.text-centered
      p.text-muted Confident Bagel Inc.
