extends layout

block content
  h1 Sign in | Sign up

  .container
    .row
      .col-md-5.col-xs-12.text-wireframe
        p.text-centered This is where the SIGN IN form will go
        br
        .col-md-1
        .col-md-10
          p.text-wireframe LOG IN using Github button: goes here
          br
          p.text-centered - OR -
          br
          p.text-wireframe USER NAME text field/form: goes here
          br
          p.text-wireframe PASSWORD text field/form: goes here
          br
          p.text-wireframe submit button
        //- div.loginbox
        //-   form(name="login", action="/login", method="post")
        //-     input(type="text", name="user")
        //-     br
        //-     input(type="password", name="pass")
        //-     br
        //-     input(type="submit", value="login")
      .col-md-1
      .col-md-5.col-xs-12.text-wireframe
        p.text-centered This is where the SIGN UP form will go
        .col-md-1
        .col-md-10
          br
          p.text-wireframe SIGN UP using Github link: goes here
          br
          br
          p.text-centered - OR -
          br
          br
          p.text-wireframe SIGN UP w/ email link: goes here
          br
          br
          br
          br
        .col-md-1  
      
        
