
a, a:visited, a:active {
  color: #444;
}

body {
  padding-bottom: 70px
}
/*circle {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}*/

circle:hover {
  stroke: black
}
.container {
  max-width: 900px;
  margin: auto;
}

.button {
  min-width: 130px;
  padding: 4px 5px;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  border: 1px solid #e0e0e0;
  text-decoration: none;
}

.button.active {
  background: #000;
  color: #fff;
}


#vis {
  width: 940px;
  height: 600px;
  clear: both;
  margin-bottom: 10px;
}

#toolbar {
  margin-top: 10px;
}

.year {
  font-size: 21px;
  fill: #aaa;
  cursor: default;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #000;
  background: #fff;
	opacity: .9;
  color: black;
	padding: 10px;
	width: 300px;
	font-size: 12px;
	z-index: 10;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}

.footer {
  text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.text-centered {
  text-align: center;
}

.row-centered {
  text-align: center;
}

.text-wireframe {
  padding: inherit;
}

.results {
  height: 300px;;
  width: 300px;
  margin: 10px;
  text-align: center;
  padding-top: 10px;
  color: black
}

.text-wireframe {
  border-style: solid;
}

.board {
  padding-bottom: 10px;
  padding-top: 10px;
}

.buffer-div {
  height: 100px;
}

.board-data {
  height: 100px;
  width: 100%;
  padding-top: 5px;
}

.board-labels {
  width: 25%;
}

a, a:hover, a:focus, a:visited, a:active {
  text-decoration: none;
}
