extends ../layout

block content
  br
  br
  br
  br
  br
  .container-fluid
    h1 Boards
    .container-fluid
      for board in boards
        .row.board.bg-primary
          .col-md-12.text-wireframe
            .col-md-4.board-labels
              h2.text-wireframe.board-data.bg-info
                a(href='boards/#{board.boardId}')= board.boardname
                  h4 by&nbsp
                    a(href='users/#{board.userid}')= board.username
            for search in searches
              if search.board_id === board.boardId
                .col-md-4.text-wireframe.results.bg-warning
                  = search.key1
        br
    br
    p only save boards go on this page, we may need to make a new page for boards that are created by users not logged in.  if we do this will the user have a chance to log in afterwards and save the same project or must they be logged in prior to the search to keep the specific board saved?
    br
    p We also need to write some JS to make new boards generate automatically and to the top of the page / link with other projects if they are just versions of the same board
