extends ../layout

block content
  .container-fluid
    h1 Boards
    for board in boards
      .panel.panel-default
        .panel-heading
          h2.panel-title= board.boardname
        .panel-body
        table.table
          for search in searches
            if search.board_id === board.boardId
              .col-md-4.bg-warning
                = search.key1
