extends ../layout

block content
  .container-fluid
    h1 Boards
    for board in boards
      .panel.panel-default
        .panel-heading
          h2.panel-title= board.boardname
        table.table
          tr
            th Search ID
            th Search Key
          for search in searches
            if search.board_id === board.boardId
              tr
                td
                  a(href='/searches/#{search.search_id}')= search.search_id
                td
                  a(href='/searches/#{search.search_id}')= search.key1
