extends ../layout

block content
  h1 New Search
  .container-fluid
    .row
      .col-md-4.col-sm-4.col-xs-12.text-wireframe.text-centered
        h4 HASHTAG SEARCH 1
        .col-md-2
        .col-md-8
          p.text-wireframe 'key1' hashtag (required)
          br
          p.text-wireframe preposition operator (opt)
          br
          p.text-wireframe optional word or hashtag  (opt)
          br
          p.text-wireframe submit button
        .col-md-2      
      .col-md-4.col-sm-4.col-xs-12.text-wireframe.text-centered
        h4 HASHTAG SEARCH 2
        .col-md-2
        .col-md-8
          p.text-wireframe 'key1' hashtag (opt)
          br
          p.text-wireframe preposition operator (opt)
          br
          p.text-wireframe optional word or hashtag (opt)
          br
          p.text-wireframe submit button
        .col-md-2
      .col-md-4.col-sm-4.col-xs-12.text-wireframe.text-centered
        h4 HASHTAG SEARCH 3
        .col-md-2
        .col-md-8
          p.text-wireframe 'key1' hashtag (opt)
          br
          p.text-wireframe preposition operator (opt)
          br
          p.text-wireframe optional word or hashtag (opt)
          br
          p.text-wireframe submit button
        .col-md-2
      p should we just focus on one hashtage search at a time for now?  If not,who wants to write the if/then JS code for making a certain submit button work/do we incorporate 3 buttons or 1?    
    
