extends ../layout

block content
  .container
    if data
      .row.search
        .col-md-6.col-md-offset-3
          label New Search for #{data.name}
            form.input-group(action='/searches' method='POST')
              input.form-control(type='text', placeholder='Search for...' name='keyword')
              input(type='hidden' name='boardId' value='#{data.id}')
              span.input-group-btn
                button.btn.btn-default(type='submit') Go!
    else
      .row.search
        .col-md-6.col-md-offset-3
          label New Search
            form.input-group(action='/searches' method='POST')
              input.form-control(type='text', placeholder='Search for...' name='keyword')
              span.input-group-btn
                button.btn.btn-default(type='submit') Go!

        
