extends ../layout

block content
  .buffer-div
  .container
        h1 Twitter Data
        h3= key
        #toolbar
          a#all.button.active(href='#') All Tweets
          a#year.button(href='#') Tweets By Score
          a#scatter.button(href='#') Scattery
        #vis
        script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.js', charset='utf-8')
        script(src='/javascript/tooltip.js')
        script(src='/javascript/script.js')
