extends ../layout

block content

  .container
    .row
      if !data
        form(action='results' method='post')
          label Add this search to existing board:&nbsp
          select(name='board')
            for item in boards
              option(name='#{item.name}')= item.name
          input(type='submit' value='Add')
        form(action='results' method='post')
          label Add this search to a new board
          input(type='text' name='boardname')
          input(type='hidden' name='creator' value='#{user}')
          input(type='submit' value='Add')
    .row
      h1 Twitter Data
      h3= key
      #toolbar
        a#all.button.active(href='#') All Tweets
        a#year.button(href='#') Tweets By Score
        a#scatter.button(href='#') Tweets Over Time
      #vis
      script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.js', charset='utf-8')
      script(src='/javascript/tooltip.js')
      script(src='/javascript/script.js')
